.menu {
  @include reset-list();
  display: flex;

  @include breakpoint(md) {
    flex-direction: column;
  }

  > .menu-item.menu-item-has-children {
    > a {
      &::after {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        border-left: 1px solid currentColor;
        border-bottom: 1px solid currentColor;
        margin-left: 5px;
        transform: translateY(-1px) rotate(-45deg);
        vertical-align: middle;
      }
    }
  }

  .menu-item {
    position: relative;

    &:hover {
      a {
        background: #fff;
        color: var(--txt-black);

        @include breakpoint(md) {
          background: transparent;
        }
      }

      .sub-menu {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
      }
    }

    > a {
      display: inline-block;
      color: currentColor;
      font-size: 16px;
      font-weight: normal;
      text-decoration: none;
      padding: 15px;

      @include breakpoint(md) {
        font-size: 22px;
      }
    }
  }

  .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 150px;
    padding: 0;
    background: #fff;
    list-style-type: none;
    opacity: 0;
    visibility: hidden;
    transform: translate(0, -20px);
    transition: $fast;

    @include breakpoint(md) {
      position: static;
      opacity: 1;
      visibility: visible;
      transform: translate(0, 0);
      background: transparent;
      padding-left: 30px;
    }

    > .menu-item {
      &:hover {
        > a {
          background: #f1f1f1;

          @include breakpoint(md) {
            background: transparent;
          }
        }

        .sub-menu {
          display: block;
        }
      }

      > a {
        width: 100%;

        @include breakpoint(md) {
          font-size: 18px;
        }
      }
    }

    .sub-menu {
      display: none;
      position: absolute;
      top: 0;
      left: 100%;

      @include breakpoint(md) {
        display: block;
        position: static;
        padding-left: 20px;
      }
    }
  }
}
