.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  transition: 0.2s;
  color: #fff;
  z-index: 2;

  &_has-bg {
    background: #f1f1f1;
    color: var(--txt-black);
  }

  &_menu-opend {
    color: var(--txt-black);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-wrap {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: currentColor;

    @include breakpoint(md) {
      position: relative;
      z-index: 15;
    }
  }

  &__logo {
    path {
      fill: currentColor;
    }
  }

  &__logo-text {
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
    opacity: 0.8;
  }

  &__menu-container {
    @include breakpoint(md) {
      display: none;
      position: fixed;
      padding-top: 80px;
      padding-right: 25px;
      padding-bottom: 0;
      padding-left: 25px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #f1f1f1;
      z-index: 9;

      &_visible {
        display: block;
      }
    }

  }

  &__nav {

    @include breakpoint(md) {
      height: 100%;
      overflow-y: auto;
    }
  }

  &__cta {
    color: currentColor;
    border-color: currentColor;

    @include breakpoint(md) {
      position: relative;
      margin-left: auto;
      margin-right: 30px;
      z-index: 15;
    }
  }

  &__burger {
    color: currentColor;
  }
}
