.promo {
  padding-top: 180px;
  padding-bottom: 200px;
  background-image: var(--bg-gr-prime);

  &__inner {
  }

  &__title {
  }

  &__subtitle {
  }

  &__btns-group {
  }

  &__cta {
  }

  &__btn-watch {
  }

  &__sponsors {
  }

  &__sponsors-txt {
  }

  &__sponsor-ico {
  }

  &__bg-wrap {
  }

  &__phone-img {
  }
}