// scss vars
// transition
$fast: 0.3s;
$slow: 0.5s;

// css vars
:root {
  // colors
  --txt-black: #0F2137;
  --txt-black-secondary: #343D48;
  --txt-blur: #244886;
  --bg-blue: #1F3E76;
  --bg-blue-secondary: #2F5392;

  // shadow
  --card-shadow: 0px 8px 24px rgba(69, 88, 157, 0.07);

  // bg
  --bg-gr-prime: linear-gradient(105.18deg, #1E3C72 -2.04%, #2A5298 107.42%);
}