
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  &__inner {
  }

  &__logo-wrap {
  }

  &__logo {
  }

  &__menu-container {
  }

  &__nav {
  }

  &__menu {
  }

  &__cta {
  }
}