.inner-page {
  padding-top: 60px;
  padding-bottom: 80px;

  &__title {
    margin-top: 60px;
    margin-bottom: 40px;
  }

  &__row {
    margin-top: 30px;
  }

  &__aside {
    @include col();
    @include size(3/12);
    padding-top: 60px;
  }

  &__content {

    &_col {
      @include col();
      @include size(9/12);
    }

  }
}