.post {

  &__head {
    padding-top: 100px;
  }

  &__title {
    color: purple;
    text-align: center;
  }

  &__thumbnail {
  }

  &__row {
  }

  &__content {
    @include col();
    @include size(6/12);
    @include offset(3/12);
    padding-bottom: 50px;
  }
}